@model IEnumerable<BDFIREBASE.Models.Producto>
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="panel panel-primary ">
    <div class="panel-heading ">
        <h4>Lista de Productos</h4>
    </div>
    <div class="panel-body">
        <a class="btn btn-success" href="@Url.Action("Crear","Mantenedor")"> Crear new </a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descripcion</th>
                    <th>Categoria</th>
                    <th>Marca</th>
                    <th Style="width:150px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Precio</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Categoria</td>
                        <td>@item.Marca</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Actualizar","Mantenedor",new {idproducto=item.IdProducto })">Actualizar</a>
                            <a class="btn btn-danger btn-sm" href="@Url.Action("Eliminar","Mantenedor",new {idproducto=item.IdProducto })">Eliminar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>



